

.navbar{
    background-color: #5599da;
    display: flex;
    justify-content: space-between;
    padding: 0.5em ;
    align-items: center;
    
}

.logo{
     
    
}

.nav-links{
    display: flex;
    gap: 1.4em;
}

.nav-links a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    padding: 9px;
    border-radius: 15px;
    font-size: 1.2em;
}

.imagen img{
    width: 900px;
    height: 850px;
    margin-left: 6em;
}

#contenido-central{
    display: flex;
}

.text1{
    font-size: 1.5em;
    background-color: #f1f1f1;
    width: fit-content;
    padding: 0.5em;
    border-radius: 25px;
    margin-top: 5em;
    margin-left: 7em;
    font-family: sans-serif;
}

.text2{
    font-size: 8em;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 1.3em;
    margin-top: 0.4em;
}

.text3{
    font-size: 8em;
      font-family: sans-serif;
    font-weight: bold;
    margin-left: 1.3em;
    margin-top: 0.4em;
    background-color: #62b3ff;
    width: fit-content;
    border-radius: 3em;
    padding: 0.1em;
}

.text4{
    font-size: 2em;
    color: rgb(78, 78, 78);
    font-family: sans-serif;
    margin-left: 5em;
    margin-top: 1.4em;
    max-width: 19em;
}

a:hover{

 background-color: #62b3ff;
    color: white;
}
   
/* SEGUNDA PAGINA: GENERADOR DE CONTRASEÑAS */

.text1-2{
    font-size: 3.1em;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

main{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.text2-2{
    font-size: 1.3em;
    font-family: sans-serif;
    display: flex;
    justify-content: center; 
    margin-top: 2em;
    background-color: #5599da;
    width: fit-content;  
    padding: 0.3em;
    border-radius: 15px;
    color: white;
    /*margin-left: 41em;*/
}

.preguntas{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
    background-color: rgb(243, 243, 243);
   width: fit-content; 
    border-radius: 15px;
   padding: 3em 16em;
   
}

.pregunta-1{
    font-size: 1.2em;
    font-family: sans-serif;
}

.pregunta-2{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 1.3em;
}

.pregunta-3{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 1.3em;
}

.pregunta-4{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 1.3em;
    margin-bottom: 1.5em;
}

input{
    width: 6em;
    border-radius: 15px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

select{
     width: 12em;
    border-radius: 15px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}




button{
    width: fit-content;
    padding: 0.7em;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 1.2em;
}

/* TERCERA PAGINA: CAJA FUERTE */

.text1-3{
    font-size: 3.1em;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.text2-3{
     font-size: 1.5em;
    font-family: sans-serif;
    display: flex;
    justify-content: center; 
    margin-top: 2em;
    background-color: #5599da;
    width: fit-content;  
    padding: 0.3em;
    border-radius: 15px;
    color: white;
}

.preguntas2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
    background-color: rgb(243, 243, 243);
   width: fit-content; 
    border-radius: 15px;
   padding: 3em 16em;
}

.preguntas-misma-linea{
    display: flex;
    gap: 1.5em;
}

.codigo-secreto{
    font-size: 1.2em;
    font-family: sans-serif;
    
}

.codigo-secreto input{
    width: 13em;
}

.numero-intentos{
    font-size: 1.2em;
    font-family: sans-serif;
}

.boton-misma-linea button{
   margin-top: -0.6em;
}

.validacion{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 1em;
}

.validacion input{
    width: 13em;
}

.botones-validacion{
    display: flex;
    gap: 1.5em;
    margin-top: 2em;
}

/* CUARTA PAGINA: MONITOREO DE ACTIVIDAD */

.text1-4{
    font-size: 3.1em;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.text2-4{
     font-size: 1.3em;
    font-family: sans-serif;
    display: flex;
    justify-content: center; 
    margin-top: 2em;
    background-color: #5599da;
    width: fit-content;  
    padding: 0.3em;
    border-radius: 15px;
    color: white;
}


.preguntas3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
    background-color: rgb(243, 243, 243);
   width: fit-content; 
    border-radius: 15px;
   padding: 3em 16em;
}

.descripcion{
    font-size: 1.2em;
    font-family: sans-serif;
    
}

.descripcion input{
    width: 13em;
}

.nivel-riesgo{
    font-size: 1.2em;
    font-family: sans-serif;
    
}

.nivel-riesgo input{
    width: 13em;
}

.eliminar-sospechosa{
    font-size: 1.2em;
    font-family: sans-serif;
    

}

.eliminar-sospechosa input{
    width: 13em;
}

.preguntas-misma-linea2{
    display: flex;
    gap: 1.5em;
    margin-top: 2em;
}

.boton-misma-linea2{
    margin-top: -0.6em;
}


.filtro-riesgo{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 2em;
    
}

.filtro-riesgo input{
    width: 13em;
}

.preguntas-misma-linea3{
    display: flex;
    gap: 1.5em;
}

.boton-misma-linea3{
    margin-top: 1.7em;
}

.preguntas-misma-linea4{
    display: flex;
    gap: 1.5em;
}

.reporte-actividades{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 2em;
}

.reporte-actividades input{
    width: 13em;
}

.boton-misma-linea4{
    margin-top: 1.7em;
}

/* QUINTA PAGINA: GESTION DE USUARIO */


.text1-5{
    font-size: 3.1em;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.text2-5{
    font-size: 1.3em;
    font-family: sans-serif;
    display: flex;
    justify-content: center; 
    margin-top: 2em;
    background-color: #5599da;
    width: fit-content;  
    padding: 0.3em;
    border-radius: 15px;
    color: white;
}



.preguntas4{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4em;
    background-color: rgb(243, 243, 243);
   width: fit-content; 
    border-radius: 15px;
   padding: 3em 16em;
}

.ver-perfiles{
    font-size: 1.2em;
    font-family: sans-serif;
}

.ver-perfiles input{
    width: 13em;
}

.preguntas4-misma-linea1{
    display: flex;
    gap: 1.5em;
}

.preguntas4-misma-linea1 button{
    margin-top: -0.6em; 
    width: 6em;
}

.perfiles{
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 2em;
    font-family: sans-serif;
}

.perfiles button{
    width: 6em;
}

.text3-5{
    font-size: 1.2em;
}

.administradores{
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 2em;
    font-family: sans-serif;
}

.administradores button{
    width: 6em;
}

.text4-5{
    font-size: 1.2em;
}

.text5-5{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin-top: 2em;
    font-family: sans-serif;
    font-weight: bold;
}

.usuario{
    font-family: sans-serif;
    margin-top: 2em;
}

.usuario input{
    width: 13em;
}

.codigo-acceso{
    font-family: sans-serif;
    margin-top: 1.3em;
}

.codigo-acceso input{
    width: 13em;
}

.acceso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acceso button{
    margin-top: 1.2em;
    width: 15em;
}