

.navbar{
    background-color: #5599da;
    display: flex;
    justify-content: space-between;
    padding: 0.5em ;
    align-items: center;
    
}

.logo{
     
    
}

.nav-links{
    display: flex;
    gap: 1.4em;
}

.nav-links a{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    padding: 9px;
    border-radius: 15px;
    font-size: 1.2em;
}

.imagen img{
    width: 900px;
    height: 850px;
    margin-left: 6em;
}

#contenido-central{
    display: flex;
}

.text1{
    font-size: 1.5em;
    background-color: #f1f1f1;
    width: fit-content;
    padding: 0.5em;
    border-radius: 25px;
    margin-top: 5em;
    margin-left: 7em;
    font-family: sans-serif;
}

.text2{
    font-size: 8em;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 1.3em;
    margin-top: 0.4em;
}

.text3{
    font-size: 8em;
      font-family: sans-serif;
    font-weight: bold;
    margin-left: 1.3em;
    margin-top: 0.4em;
    background-color: #62b3ff;
    width: fit-content;
    border-radius: 3em;
    padding: 0.1em;
}

.text4{
    font-size: 2em;
    color: rgb(78, 78, 78);
    font-family: sans-serif;
    margin-left: 5em;
    margin-top: 1.4em;
    max-width: 19em;
}

a:hover{

 background-color: #62b3ff;
    color: white;
}
   
/* SEGUNDA PAGINA: GENERADOR DE CONTRASEÑAS */

.text1-2{
    font-size: 3.1em;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.text2-2{
    font-size: 1.3em;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background-color: #5599da;
    width: fit-content;
    padding: 0.3em;
    border-radius: 15px;
    margin-left: 41em;
}

.preguntas{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7em;
    background-color: rgb(243, 243, 243);
   width: fit-content;
    border-radius: 15px;
   padding: 3em 16em;
   margin-left: 32.5em;
}

.pregunta-1{
    font-size: 1.2em;
    font-family: sans-serif;
}

.pregunta-2{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 1.3em;
}

.pregunta-3{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 1.3em;
}

.pregunta-4{
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 1.3em;
    margin-bottom: 1.5em;
}

input{
    width: 6em;
    border-radius: 15px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

select{
     width: 12em;
    border-radius: 15px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}




button{
    width: fit-content;
    padding: 0.7em;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 1.2em;
}
